html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
}

.text-type {
    -webkit-background-clip: text;
    @apply bg-gradient-to-t from-blue-500 to-cyan-500 text-transparent;
    overflow: hidden;
    border-right: 2px solid #fff;
    animation: typing-text steps(50) 3s infinite, blink ease 0.3s infinite;
    text-wrap: nowrap;
    display: inline-block;
    width: max-content;
    width: 0;
    padding-bottom: 3px;
}

@keyframes typing-text {
    from {
        width: 0%;
    } 
    to {
        width: 350px;
    }
}

@keyframes typing-text {
    to {
        border-color: transparent;
    }
}
.justified-text {
    text-align: justify;
}

/* .skill-category {
    margin: 20px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.skill-category:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.skill-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.skill-category:hover .skill-details {
    max-height: 1000px; 
} */

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.skill-category {
    margin: 10px;
    cursor: pointer;
    padding: 1px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.skill-category:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.category-header {
    display: flex;
    align-items: center;
}


.category-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #fff;
}

.skill-item {
    display: flex;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    background: linear-gradient(to top, #00f, #0ff);
    border-radius: 50%;
    margin-right: 10px;
}

.skill-name {
    font-size: 1rem;
    color: #fff;
    margin-left: 20px;
}

.skill-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.skill-category:hover .skill-details {
    max-height: 1000px; /* Adjust this to fit your content */
}